In [11]:
# Add the Pandas dependency
import pandas as pd

high_schools = ["Huang High", "Figueroa High","Shelton High","Hernandez High", "Griffin High", "Wilson High", 
                "Cabrera High", "Bailey High", "Holden High", "Pena High", "Wright High", "Rodriguez High", 
                "Johnson High", "Ford High", "Thomas High"]

# Create a Pandas Series from a list
school_series = pd.Series(high_schools)
school_series

# a dictionary of high schools:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High", "type":"District"},
                    {"School ID": 1, "school_name": "Figueroa High", "type":"District"},
                    {"School ID": 2, "school_name": "Shelton High", "type":"Charter"},
                    {"School ID": 3, "school_name": "Hernandez High", "type":"District"},
                    {"School ID": 4, "school_name": "Griffin High", "type":"Charter"}]

school_df = pd.DataFrame(high_school_dicts)

# Three separate lists of information on high schools
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

school_name = ["Huang High", "Figueroa High","Shelton High","Hernandez High", "Griffin High", "Wilson High", 
                "Cabrera High", "Bailey High", "Holden High", "Pena High", "Wright High", "Rodriguez High", 
                "Johnson High", "Ford High", "Thomas High"]

type_of_school = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter",
                 "Charter", "Charter", "District", "District", "District", "Charter"]

# Initialize a new DataFrame
schools_df = pd.DataFrame()
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

schools_df

    School ID     School Name School Type
0           0      Huang High    District
1           1   Figueroa High    District
2           2    Shelton High     Charter
3           3  Hernandez High    District
4           4    Griffin High     Charter
5           5     Wilson High     Charter
6           6    Cabrera High     Charter
7           7     Bailey High    District
8           8     Holden High     Charter
9           9       Pena High     Charter
10         10     Wright High     Charter
11         11  Rodriguez High    District
12         12    Johnson High    District
13         13       Ford High    District
14         14     Thomas High     Charter